<span class="subject">
  {{#if id}}
    <a href="/#" class="link"><i class="icon-calendar icon-inline-prefix"></i>{{title}}{{#if name}} ({{name}}){{/if}}</a>
  {{else}}
    <i class="icon-calendar icon-inline-prefix"></i>{{title}}{{#if name}} ({{name}}){{/if}}
  {{/if}}
</span>
<span class="calendar">{{#if date}}<a href="#" class="status"><i class="icon-check{{#unless done}}-empty{{/unless}} icon-inline-prefix"></i></a>{{localDate date}}{{else}}N/A{{/if}}</span>
<ul class="users inline-list">
  {{#if users}}
  {{#each users}}
  <li class="user">{{{linkTo name "users:show" id}}}</li>
  {{/each}}
  {{else}}
  <li class="alert">No one is assigned</li>
  {{/if}}
</ul>
