<div class="row">
  <div class="large-12 columns">
    <!-- FIXME Should be a responsive layout -->
    <div class="description-container">
      <h4><i class="icon-building icon-inline-prefix"></i>{{name}}{{#if abbreviation}} ({{abbreviation}}){{/if}}</h4>
      <a href="#" id="delete-button" class="small button">Delete</a>
      <a href="#" id="edit-button" class="small button">Edit</a>
    </div>
  </div>
</div>
<div class="row collapse properties-container">
  <div class="large-12 columns">
    {{#if address}}
    <div class="property">
      <span class="label">Address</span>
      <span class="value">{{address}}</span>
    </div>
    {{/if}}
    {{#if url}}
    <div class="property">
      <span class="label">URL</span>
      <span class="value"><a href="{{url}}">{{url}}</a></span>
    </div>
    {{/if}}
    {{#if owner}}
    <div class="property">
      <span class="label">Owner</span>
      <span class="value"><a href="{{relativeUrl "users" owner.id}}">{{owner.name}}</a></span>
    </div>
    {{/if}}
    {{#if remarks}}
    <div class="property">
      <span class="label">Remarks</span>
      <span class="value">{{remarks}}</span>
    </div>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <div class="activity-panel">
      <span class="subject"><i class="icon-calendar icon-inline-prefix"></i>Last Activity (Email to James)</span>
      <span class="calendar">14 days ago</span>
      <span class="owner"><a href="users/1">monzou</a></span>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="activity-panel">
      <span class="subject"><i class="icon-calendar icon-inline-prefix"></i>Next Activity (Email to James)</span>
      <span class="calendar">in 2 months, 6 days</span>
      <span class="owner"><a href="users/1">monzou</a></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="section-container tabs" data-section="tabs">
      <section id="updates" class="active">
        <p class="title" data-section-title>
          <a href="#" data-bypass><i class="icon-circle-blank icon-inline-prefix"></i>Updates</a>
        </p>
        <div class="content" data-section-content></div>
      </section>
      <section id="activities">
        <p class="title" data-section-title>
          <a href="#" data-bypass><i class="icon-calendar icon-inline-prefix"></i>Activities</a>
        </p>
        <div class="content" data-section-content></div>
      </section>
      <section id="deals">
        <p class="title" data-section-title>
          <a href="#" data-bypass><i class="icon-tasks icon-inline-prefix"></i>Deals</a>
        </p>
        <div class="content" data-section-content></div>
      </section>
      <section id="people">
        <p class="title" data-section-title>
          <a href="#" data-bypass><i class="icon-group icon-inline-prefix"></i>People</a>
        </p>
        <div class="content" data-section-content></div>
      </section>
      <section id="files">
        <p class="title" data-section-title>
          <a href="#" data-bypass><i class="icon-file icon-inline-prefix"></i>Files</a>
        </p>
        <div class="content" data-section-content></div>
      </section>
    </div>
  </div>
</div>