<div class="changelog">
  <header>{{{linkTo audit.user.name "users:show" audit.user.id}}} {{action}} {{{subjectHeader}}}</header>
  {{#match action "ne" "destroy"}}
    <section class="contents">
      <ul class="changesets">
      {{#each changes}}
        <li>
          <span class="property">{{propertyName}}</span>
          {{#match ../action "ne" "added"}}
          <span class="change{{#unless before}} empty{{/unless}}">{{before}}</span>
          <i class="icon-arrow-right icon-inline-center"></i>
          {{/match}}
          <span class="change{{#unless after}} empty{{/unless}}">{{after}}</span>
        </li>
      {{/each}}
      </ul>
    </section>
  {{/match}}
  <footer>
    <span class="datetime">at {{localDatetime audit.updated_at}}</span>
  </footer>
</div>