<div class="note-editor">
  <header><a href="{{relativeUrl "users" user.id}}">{{user.name}}</a> {{action}} a note to <a href="{{relativeUrl subjectRoute auditable.subject.id}}">{{auditable.subject.name}}</a></header>
  <section class="contents"></section>
  <footer>
    <span class="datetime">at {{localDatetime updated_at}}</span>
    <span class="separator">|</span>
    <div class="actions">
      <a href="#" data-bypass class="edit">Edit</a>
      <a href="#" data-bypass class="delete">Delete</a>
    </div>
  </footer>
</div>